html,
body{
  height: 100%;
  font-family: 'Miscrosoft Yahei';
  color: #333;
  background-color: #fff;
  margin: 0;
    padding: 0;
}
*{
  box-sizing: border-box;
}
h5,p {
  margin: 0 auto
}
#root,App{
  height: 100%;
}

ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
.body-fixed {
  overflow: hidden;
}
.loading{
  padding-top: 50%;
  text-align: center;
}